html {
  height: 100%;
}

body{
  padding: 0;
  margin: 0;
}

.chakra-ui-dark {
    background: #0E1216;
}

.OnboardingOption:hover {
    color: #6EC1E4;
}

.btn1:hover {
  background: #163F75;
}

.playerPosition:hover {
  background: #6EC1E4 !important;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.link1 {
  color: #6EC1E4;
}

.chakra-container {
  margin: 0;
  padding: 0;
}

.btn1 {
  width: 100%;
}

.btn1:hover {
  background: #163F75 !important;
} 

.btn2 {
  color: #A2A2A2;
  padding: 8px 24px;
  background: #101418;
  border: 1px solid #A2A2A2;
  border-radius: 10px;
}

    .btn2:hover, .btn2:focus {
        border: 1px solid #6EC1E4;
        color: #6EC1E4;
    }

.btn4 {
  background: transparent;
}

.selected {
  border: 1px solid #6EC1E4;
  color: #6EC1E4;
}

/* Onboarding */

.deporte {
  border: 2px solid #A2A2A2;
  border-radius: 7px;
  color: #A2A2A2;
  padding: 20px;
  width: 250px;
  cursor: pointer
}

.deporte.deporteSeleccionado {
  border: 2px solid #5695B1;
  border-radius: 7px;
  color: #5695B1;
  padding: 20px;
  width: 250px
}

.tipoDeUsuario HStack, .deporte HStack {
  text-align: center;
}

/* Perfil */

.chakra-select__icon-wrapper {
  display: none !important
}

strong {
  color: #6EC1E4;
}

.css-1nwp9e0 {
  transition: 0.2s
}

.css-1nwp9e0:hover {
  color: #144077
}

@media only screen and (max-width: 720px) {
  .artwork2, .artwork3 {
    display: none !important;
  }
}